<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MyBusinessLogic.MyEchoService" behaviorConfiguration="mexBehavior">
        <endpoint address="MyEchoService" binding="basicHttpBinding" contract="MyBusinessLogic.IMyEchoService" />
        <endpoint address="MyEchoService" binding="netTcpBinding" contract="MyBusinessLogic.IMyEchoService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8880"  />
            <add baseAddress="net.tcp://localhost:8881"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>